* {
  margin: 0;
  padding: 0;
}

.main {
  background-color: black;
  color: white;
  height: auto;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  margin-top: 10%;
  justify-self: center;
}

.btn {
  height: auto;
  width: 80px;
  font-size: 25px;
}

.form-control {
  height: 75px;
  font-size: 1.8rem;
  text-align: right;
}

.switch-button {
  display: flex;
  justify-content: flex-end;
}

